{% extends "dashboard/index.html" %}
{% block content %}
    <div class="text-center mb-5">
        <h3>
            Create a campaign
        </h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
        </p>
    </div>
    <form method="post" id="form-campaign-create" enctype="multipart/form-data" action=".">
        {% csrf_token %}
        <div class="container">
            <div class="accordion" id="steps-list">
                <div class="steps">
                    <progress id="progress" value=0 max=100></progress>
                    <div class="step-item">
                        <button id="step-button-1" class="step-button  border border-1 text-center" type="button">
                            <i class="bi bi-clipboard"></i>
                        </button>
                        <div class="step-title fw-medium text-capitalize">
                            Details
                        </div>
                    </div>
                    <div class="step-item">
                        <button id="step-button-2" class="step-button  border border-1 text-center" type="button">
                            <i class="bi bi-chat"></i>
                        </button>
                        <div class="step-title fw-medium text-capitalize">
                            SMS
                        </div>
                    </div>
                    <div class="step-item">
                        <button id="step-button-3" class="step-button  border border-1 text-center" type="button">
                            <i class="bi bi-envelope"></i>
                        </button>
                        <div class="step-title fw-medium text-capitalize">
                            Email
                        </div>
                    </div>
                    <div class="step-item">
                        <button id="step-button-4" class="step-button  border border-1 text-center" type="button">
                            <i class="bi-mic"></i>
                        </button>
                        <div class="step-title fw-medium text-capitalize">
                            Audio
                        </div>
                    </div>
                    <div class="step-item">
                        <button id="step-button-5" class="step-button  border border-1 text-center" type="button">
                            <i class="bi-instagram"></i>
                        </button>
                        <div class="step-title fw-medium text-capitalize">
                            Social
                        </div>
                    </div>
                    <div class="step-item">
                        <button id="step-button-6" class="step-button  border border-1 text-center" type="button">
                            <i class="bi-easel"></i>
                        </button>
                        <div class="step-title fw-medium text-capitalize">
                            Preview
                        </div>
                    </div>
                </div>

                <div class="card border-0">
                    <div id="collapseOne" class="collapse one show" aria-labelledby="headingOne"
                         data-bs-parent="#steps-list">
                        <div class="card-header p-5 pb-0 bg-transparent border-0 ">
                            <h3 class="fw-bold">
                                Details
                            </h3>
                            <p class="text-muted">
                                Provide the basic info
                            </p>
                        </div>

                        <div class="card-body p-5">
                            <div class="row g-3">
                                <div class="col col-12">
                                    <label for="{{ form1.type.name }}" class="form-label">{{ form1.type.label }}</label>
                                    {{ form1.type }}
                                </div>
                                <div class="col col-12 col-md-6 col-lg-4">
                                    <label for="zip-1" class="form-label">Zip #1</label>
                                    <select id="zip-1" class="form-select" name="select-1" required>
                                        <option value="empty">Select an option</option>
                                        {% for zip in zips %}
                                            <option value="{{ zip.id }}">{{ zip.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col col-12 col-md-6 col-lg-4">
                                    <label for="zip-2" class="form-label">Zip #2</label>
                                    <select id="zip-2" class="form-select" name="select-2">
                                        <option value="empty">Select an option</option>
                                        {% for zip in zips %}
                                            <option value="{{ zip.id }}">{{ zip.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col col-12 col-md-6 col-lg-4">
                                    <label for="zip-3" class="form-label">Zip #3</label>
                                    <select id="zip-3" class="form-select" name="select-3">
                                        <option value="empty">Select an option</option>
                                        {% for zip in zips %}
                                            <option value="{{ zip.id }}">{{ zip.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <a class="btn btn-secondary my-4 float-start"
                               href="{% url "campaign:dashboard" %}"
                            >
                                Cancel
                            </a>
                            <button class="step-next one btn btn-primary my-4 float-end collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                                    disabled
                            >
                                Next <i class="bi bi-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div id="collapseTwo" class="collapse two" aria-labelledby="headingTwo"
                         data-bs-parent="#steps-list">
                        <div class="card-header p-5 pb-0 bg-transparent border-0 ">
                            <h3 class="fw-bold">
                                SMS
                            </h3>
                            <p class="text-muted">
                                Create sms content
                            </p>
                        </div>
                        <div class="card-body p-5">
                            <div class="row g-3">
                                <div class="col col-12">
                                    <label for="{{ form2.type.name }}"
                                           class="form-label">{{ form2.type.label }}</label>
                                    <div class="position-relative d-flex flex-column flex-md-row align-items-center w-100 gap-1">
                                        <div class="col col-12 col-md-6 col-lg-4">
                                            {{ form2.type }}
                                        </div>
                                        <p>name of recipient</p>
                                    </div>
                                </div>
                                <div class="col col-12">
                                    <label for="{{ form2.body.name }}"
                                           class="form-label">{{ form2.body.label }}</label>
                                    {{ form2.body }}
                                </div>
                            </div>
                            <div class="d-inline-flex justify-content-start align-items-center gap-2">
                                <button class="step-back btn btn-primary my-4 float-start collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                                >
                                    <i class="bi bi-chevron-left"></i>
                                    Back
                                </button>
                                <a class="btn btn-secondary my-4 float-start"
                                   href="{% url "campaign:dashboard" %}"
                                >
                                    Cancel
                                </a>
                            </div>
                            <button class="step-next two btn btn-primary my-4 float-end collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree" disabled>
                                Next <i class="bi bi-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div id="collapseThree" class="collapse three" aria-labelledby="headingThree"
                         data-bs-parent="#steps-list">
                        <div class="card-header p-5 pb-0 bg-transparent border-0 ">
                            <h3 class="fw-bold">
                                Email
                            </h3>
                            <p class="text-muted">
                                Create email content
                            </p>
                        </div>
                        <div class="card-body p-5">
                            <input type="hidden" name="selected-template" id="selected-template" value="">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 justify-content-center g-3"
                                 id="template-container">
                                {% for template in templates %}
                                    <div class="col">
                                        <div class="card border-2 email-template" data-template="{{ template.id }}">
                                            <img src="{{ template.thumbnail.url }}" alt="{{ template.name }}"
                                                 class="card-img" loading="lazy"/>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <hr/>
                            <div id="email-form-container" class="row g-3 visually-hidden">
                                <div class="col col-12">
                                    <label for="{{ form3.type.name }}"
                                           class="form-label">{{ form3.type.label }}</label>
                                    <div class="position-relative d-flex align-items-center w-100 gap-1">
                                        <div class="col col-12 col-md-6 col-lg-4">
                                            {{ form3.type }}
                                        </div>
                                        <p>name of recipient</p>
                                    </div>
                                </div>
                                <div class="col col-12">
                                    <label for="{{ form3.subject.name }}"
                                           class="form-label">{{ form3.subject.label }}</label>
                                    {{ form3.subject }}
                                </div>
                                <div class="col col-12">
                                    <label for="{{ form3.body.name }}"
                                           class="form-label">{{ form3.body.label }}</label><br/>
                                    {{ form3.media }}
                                    {{ form3.body }}
                                </div>
                            </div>
                            <div class="d-inline-flex justify-content-start align-items-center gap-2">
                                <button class="step-back btn btn-primary my-4 float-start collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                                >
                                    <i class="bi bi-chevron-left"></i>
                                    Back
                                </button>
                                <a class="btn btn-secondary my-4 float-start"
                                   href="{% url "campaign:dashboard" %}"
                                >
                                    Cancel
                                </a>
                            </div>
                            <div class="d-flex gap-2 my-4 float-end">
                                <button class="step-next three btn btn-primary collapsed" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseForth" aria-expanded="false"
                                        aria-controls="collapseForth" disabled>

                                    Next
                                    <i class="bi bi-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div id="collapseForth" class="collapse forth" aria-labelledby="headingForth"
                         data-bs-parent="#steps-list">
                        <div class="card-header p-5 pb-0 bg-transparent border-0 ">
                            <h3 class="fw-bold">
                                Audio
                            </h3>
                            <p class="text-muted">
                                Upload your audio file
                            </p>
                        </div>
                        <div class="card-body p-5">
                            <nav>
                                <div class="nav custom-nav-tabs nav-tabs justify-content-center" id="nav-tab"
                                     role="tablist">
                                    <div class="d-flex justify-content-center align-items-center gap-2 w-100 p-1"
                                         style="border-radius: var(--bs-nav-tabs-border-radius);background-color: #F5F5F5">
                                        <button class="nav-link active" id="upload-file-tab" data-bs-toggle="tab"
                                                data-bs-target="#upload-file" type="button" role="tab"
                                                aria-controls="nav-file"
                                                aria-selected="true">
                                            Upload File
                                        </button>
                                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                                data-bs-target="#text-to-audio" type="button" role="tab"
                                                aria-controls="text-to-audio" aria-selected="false">
                                            Text to Audio
                                        </button>
                                    </div>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade active show" id="upload-file" role="tabpanel"
                                     aria-labelledby="upload-file-tab" tabindex="0">
                                    <div class="row g-3 my-3 ">
                                        <div class="col col-12 col-md-6 col-lg-4 justify-content-center d-grid align-items-center w-100 text-center">
                                            {{ form4.file }}
                                            <label for="{{ form4.file.name }}"
                                                   class="form-label my-2">{{ form4.file.label }}</label>
                                            <p class="text-danger fs-6 fst-italic my-2">{{ form4.file.help_text }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="text-to-audio" role="tabpanel"
                                     aria-labelledby="nav-profile-tab" tabindex="0">
                                    <div class="row g-3 my-3">
                                        <div class="col col-12 col-md-6 col-lg-4 w-100">
                                            <label for="{{ form4.text.name }}"
                                                   class="form-label my-2">{{ form4.text.label }}</label>
                                            {{ form4.text }}
                                            <small class="text-muted text-secondary" id="text-counter"></small>
                                            <p class="text-danger fs-6 my-2">You will charge for extra
                                                ${{ page_setting.audio_price }} if you fill above field</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent border-0">
                                <div class="d-inline-flex justify-content-start align-items-center gap-2">
                                    <button class="step-back btn btn-primary float-start collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree"
                                    >
                                        <i class="bi bi-chevron-left"></i>
                                        Back
                                    </button>
                                    <a class="btn btn-secondary my-4 float-start"
                                       href="{% url "campaign:dashboard" %}"
                                    >
                                        Cancel
                                    </a>
                                </div>
                                <button class="btn btn-primary step-next forth float-end collapsed" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseFifth" aria-expanded="false"
                                        aria-controls="collapseFifth" disabled>

                                    Next
                                    <i class="bi bi-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div id="collapseFifth" class="collapse fifth" aria-labelledby="headingFifth"
                         data-bs-parent="#steps-list">
                        <div class="card-header p-5 pb-0 bg-transparent border-0 ">
                            <h3 class="fw-bold">
                                Social Media
                            </h3>
                            <p class="text-muted">
                                Please follow the guideline that provided for each social media.
                            </p>
                        </div>
                        <div class="card-body p-5">
                            {% for social in socials %}
                                <div class="card border-0">
                                    <div class="card-header border-0">
                                        <h4 class="card-title text-capitalize">{{ social.name }}</h4>
                                        <p>{{ social.manual_guide }}</p>
                                    </div>
                                    <div class="card-body">
                                        {% if social.tutorial_video %}
                                            <div class="ratio-16x9 d-flex justify-content-center align-items-center">
                                                <video src="{{ social.tutorial_video.url }}" controls height="180"
                                                       width="320">
                                                    Your browser does not support the video tag.
                                                </video>
                                            </div>
                                        {% endif %}

                                        {% if social.social_media_fields.all %}
                                            {% for field in social.social_media_fields.all %}
                                                <div class="mb-3">
                                                    <label class="form-label"
                                                           for="id_{{ social.object_name }}_{{ field.object_name }}">{{ field.name }}</label>
                                                    <input
                                                            type="text"
                                                            id="id_{{ social.object_name }}_{{ field.object_name }}"
                                                            name="{{ social.object_name }}_{{ field.object_name }}"
                                                            class="form-control"
                                                            {% if not field.is_optional %}required{% endif %}
                                                    >
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <p>No fields available.</p>
                                        {% endif %}
                                        <div class="d-flex justify-content-center align-items-center gap-2">
                                            <div class="mb-3 w-100">
                                                <label class="form-label"
                                                       for="id_{{ social.object_name }}_post_frequency">
                                                    Post Frequency
                                                </label>
                                                <select
                                                        id="id_{{ social.object_name }}_post_frequency"
                                                        name="{{ social.object_name }}_post_frequency"
                                                        class="form-control"
                                                >
                                                    {% for value, label in frequency_choices %}
                                                        <option value="{{ value }}">{{ label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="mb-3 w-100">
                                                <label class="form-label"
                                                       for="id_{{ social.object_name }}_post_time">
                                                    Post Time
                                                </label>
                                                <input
                                                        type="time"
                                                        id="id_{{ social.object_name }}_post_time"
                                                        name="{{ social.object_name }}_post_time"
                                                        class="form-control"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <p>No social media items found.</p>
                            {% endfor %}


                            <div class="card-footer bg-transparent border-0">
                                <div class="d-inline-flex justify-content-start align-items-center gap-2">
                                    <button class="step-back btn btn-primary float-start collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseForth" aria-expanded="false"
                                            aria-controls="collapseForth"
                                    >
                                        <i class="bi bi-chevron-left"></i>
                                        Back
                                    </button>
                                    <a class="btn btn-secondary my-4 float-start"
                                       href="{% url "campaign:dashboard" %}"
                                    >
                                        Cancel
                                    </a>
                                </div>
                                <button class="btn btn-primary step-next fifth float-end collapsed" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseSixth" aria-expanded="false"
                                        aria-controls="collapseSixth" disabled>

                                    Next
                                    <i class="bi bi-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0 ">
                    <div id="collapseSixth" class="collapse sixth" aria-labelledby="headingSixth"
                         data-bs-parent="#steps-list">
                        <div class="card-header p-5 pb-0 bg-transparent border-0 ">
                            <h3 class="fw-bold">
                                Preview
                            </h3>
                            <p class="text-muted">
                                your order preview and put order
                            </p>
                        </div>
                        <div class="card-body p-5 d-flex flex-column justify-content-center align-items-center gap-3">
                            <div class="table-responsive w-100 mb-5">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="width: 75%">Package</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-preview-body">

                                    </tbody>
                                </table>
                            </div>
                            <div class="html_content overflow-auto" id="html_content"
                                 style="max-height: 400px;min-width: 320px;max-width: 600px">
                            </div>
                            <input type="hidden" id="method" name="payment_method">
                            <div class="d-flex mt-3 justify-content-between align-items-center w-100">
                                <div class="d-inline-flex justify-content-start align-items-center gap-2">
                                    <button class="step-back btn btn-primary float-start collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseFifth" aria-expanded="false"
                                            aria-controls="collapseFifth"
                                    >
                                        <i class="bi bi-chevron-left"></i>
                                        Back
                                    </button>
                                    <a class="btn btn-secondary my-4 float-start"
                                       href="{% url "campaign:dashboard" %}"
                                    >
                                        Cancel
                                    </a>
                                </div>
                                <div class="d-flex gap-2 my-4 float-end">
                                    <button class="btn btn-primary" name="pay-later" role="button" type="submit"
                                            id="campaign-pay-later">
                                        Pay Later
                                    </button>
                                    <button class="btn btn-primary  " name="pay-now" role="button"
                                            type="submit"
                                            id="campaign-pay-now">
                                        Pay Now
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block script %}
    <script>

        // Wait for the document to be fully loaded
        document.addEventListener('DOMContentLoaded', function () {
            // Initialize CKEditor for the textarea
            ClassicEditor
                .create(document.querySelector('#id_body'), {
                    toolbar: [
                        "styles",
                        "heading",
                        "|",
                        "bold",
                        "italic",
                        "Underline",
                        "link",
                        "|",
                        "bulletedList",
                        "numberedList",
                        "blockQuote",
                        "|",
                        "fontSize",
                        "fontFamily",
                        "fontColor",
                        "fontBackgroundColor",],
                })
                .then(editor => {
                    let collapseFifth = document.getElementById("collapseFifth");
                    let htmlContent = document.getElementById("html_content");
                    const campaignSelect = document.getElementById("campaign-type")
                    const emailTypeSelect = document.getElementById("campaignEmail-type")
                    const formCampaignCreate = document.querySelector("form#form-campaign-create");
                    const methodInput = document.getElementById("method");
                    const fileInput = document.getElementById("campaignAudio-file")
                    const textInput = document.getElementById("campaignAudio-text")

                    collapseFifth.addEventListener("show.bs.collapse", async function () {
                        let selectedValue = campaignSelect.value
                        const selectInput = document.getElementById("selected-template")
                        const value = parseInt(selectInput.value)
                        let price = 0
                        let campaignTypesUrl = "{% url 'campaign:campaignTypeList' %}"
                        let url = "{% url 'campaign:emailPreview' 0 %}"
                        let new_url = url.replace("0", value.toString())
                        const data = editor.getData()
                        const result = await fetch(new_url, {
                            method: "post",
                            headers: {
                                "Content-Type": "application/x-www-form-urlencoded"
                            },
                            body: "content=" + encodeURIComponent(data) + "&type=" + emailTypeSelect.value,
                        })
                        htmlContent.innerHTML = await result.text()
                        const result2 = await fetch(`${campaignTypesUrl}?id=${selectedValue}`, {
                            method: "get",
                            headers: {
                                "Content-Type": "application/json",
                                "Accept": "application/json",
                            },
                        })
                        const data2 = await result2.json()
                        price = parseFloat(data2[0].price)
                        document.querySelector(".table-preview-body").innerHTML =
                            `
                            <tr>
                                <td style="width: 75%">${data2[0].name}</td>
                                <td>$${data2[0].price}</td>
                            </tr>
                            `

                        if (textInput.value.trim() !== "" && textInput.value.length > 0) {
                            document.querySelector(".table-preview-body").innerHTML +=
                                `
                                <tr>
                                    <td style="width: 75%">text to audio</td>
                                    <td>${{ page_setting.audio_price }}</td>
                                </tr>
                                `

                            price += parseFloat("{{ page_setting.audio_price }}")
                        }
                        document.querySelector(".table-preview-body").innerHTML +=
                            `
                            <tr>
                                <td style="width: 75%"></td>
                                <td class="fs-4 fw-bold">$${price}</td>
                            </tr>
                            `

                    });

                    textInput.addEventListener("input", (e) => {
                            document.querySelector("#text-counter").innerHTML = `${e.currentTarget.value.length} / {{ page_setting.audio_text_length }}`
                        }
                    )

                    formCampaignCreate.addEventListener("submit", (e) => {
                        e.preventDefault();

                        if (e.submitter.name === 'pay-now') {
                            methodInput.value = "pay";
                        } else if (e.submitter.name === 'pay-later') {
                            methodInput.value = "pass";
                        }

                        if (fileInput.value === "" && textInput.value.trim() === "") {
                            alert("Audio file or an alternate text for converting is required")
                        } else if (textInput.value.length > parseInt('{{ page_setting.audio_text_length }}')) {
                            alert("your text length cant be more then {{ page_setting.audio_text_length }}")
                        } else {
                            formCampaignCreate.submit();
                        }
                    })
                })
                .catch(error => {
                    console.error(error);
                });
        })


    </script>
{% endblock %}