{% extends "dashboard/index.html" %}
{% block content %}
    <h4 class="fw-bold">Hello {{ request.user.username }}</h4>
    <p class="text-secondary">You can find your campaign history here</p>
    <div class="card border-0">
        <div class="card-body table-responsive">
            <a href="{% url "campaign:campaignCreate" %}" class="btn btn-primary my-3 float-end">
                Create Campaign
            </a>
            <table class="table table-hover" style="max-height: 400px">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Package</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col" style="white-space: nowrap">Date Create</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for campaign in campaigns %}
                    <tr>
                        <th scope="row">{{ campaign.id }}</th>
                        <td>{{ campaign.type }}</td>
                        {% if campaign.campaign_transaction.amount or campaign.campaign_transaction.amount > 0 %}
                            <td>${{ campaign.campaign_transaction.amount }}</td>
                        {% else %}
                            <td>${{ campaign.get_price }}</td>
                        {% endif %}
                        {% if campaign.status == "cancel" %}
                            <td><span class="badge bg-secondary-subtle text-secondary-emphasis">Canceled</span></td>
                        {% elif campaign.status == "payment" %}
                            <td><span class="badge bg-info-subtle text-info-emphasis">Waiting for payment</span></td>
                        {% elif campaign.status == "disapproved" %}
                            <td><span class="badge bg-danger-subtle text-danger-emphasis">Disapproved</span></td>
                        {% elif campaign.status == "wait" %}
                            <td><span class="badge bg-warning-subtle text-warning-emphasis">Waiting for approval</span>
                            </td>
                        {% elif campaign.status == "processing" %}
                            <td><span class="badge bg-primary-subtle text-primary-emphasis">Processing</span></td>
                        {% elif campaign.status == "complete" %}
                            <td><span class="badge bg-success-subtle text-success-emphasis">Complete</span></td>
                        {% endif %}
                        <td>{{ campaign.create_at }}</td>
                        <td>
                            <div class="d-flex justify-content-start align-items-center gap-3">
                                {% if campaign.campaign_transaction.status == "PENDING" or not campaign.campaign_transaction and campaign.status != "cancel" %}
                                    <a class="fs-4 rounded-circle text-success"
                                       href="{% url "checkout:checkout" campaign.id %}" title="Continue payment"
                                       data-bs-toggle="tooltip">
                                        <i class="bi bi-cash-coin"></i>
                                    </a>
                                {% endif %}
                                {% if campaign.status == "disapproved" %}
                                    <a href="{% url "campaign:campaignResubmit" campaign.id %}" role="button"
                                       data-bs-toggle="tooltip" title="Resubmit campaign"
                                       class="resubmit-button text-info fs-4">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                {% endif %}
                                {% if campaign.get_days_difference >= page_setting.show_result and campaign.status == "processing" or campaign.status == "complete" %}
                                    <span role="button" data-bs-toggle="tooltip" title="Show result"
                                          data-ca="{{ campaign.id }}" class="show-result-button text-secondary fs-5 ">
                                        <i class="bi bi-eye-fill"></i>
                                    </span>
                                {% endif %}
                                {% if campaign.status == "payment" or campaign.status == "disapproved" or campaign.status == "wait" %}
                                    <a href="{% url "campaign:adminCampaignsAction" id=campaign.id status="cancel" %}"
                                       data-bs-toggle="tooltip" title="Cancel campaign"
                                       class="text-danger fs-4 rounded-circle">
                                        <i class="bi bi-x"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation" class="my-4">
                <ul class="pagination">
                    <li class="page-item {% if campaigns.number == 1 %}disabled{% endif %}">
                        <a class="page-link" href="?page=1" aria-label="First">
                            First
                        </a>
                    </li>
                    {% if campaigns.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ campaigns.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for page in campaigns.paginator.page_range %}
                        <li class="page-item {% if page == campaigns.number %}active{% endif %}">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endfor %}
                    {% if campaigns.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ campaigns.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item {% if campaigns.number == campaigns.paginator.num_pages %}disabled{% endif %}">
                        <a class="page-link" href="?page={{ campaigns.paginator.num_pages }}" aria-label="Last">
                            Last
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="show-result" tabindex="-1" aria-labelledby="show-result" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="show-result-label">Result</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <input type="hidden" value="{{ base_url }}" name="base-url" id="base-url"/>
                    <div class="table-responsive">
                        <table id="show-result-table" class="table table-hover" style="width:100%">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>phone</th>
                                <th>email</th>
                                <th style="white-space: nowrap">Zip code</th>
                                <th>State</th>
                            </tr>
                            </thead>
                            <tbody id="show-result-table-body" data-ca="{{ request.user.id }}">
                            <tr>
                                <td colspan="7" align="center">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation" class="my-4">
                            <ul class="pagination" id="result-pagination-body">

                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        const showResultModal = new bootstrap.Modal('#show-result')
    </script>
{% endblock %}