{% load custom_tags %}
{% load static %}
{% url "campaign:dashboard" as dashboard %}
{% url "cms:adminCampaigns" as adminCampaignList %}
{% url "cms:adminTickets" as adminTicketList %}
{% url "cms:adminContacts" as adminContactsList %}
{% url "campaign:campaignList" as campaignList %}
{% url "main:ticketList" as ticketList %}
{% url 'account:businessSetup' as businessSetupPage %}
<header class="bg-light-subtle sticky-top pb-1" id="header">
    <div class="position-relative">
        <nav class="position-relative navbar navbar-expand-lg bg-transparent w-100 z-1">
            <div class="container-fluid mx-0 mx-md-5 ps-2 pe-4 py-1 ps-md-0 pe-md-0 rounded-2 ">
                <div class="d-flex justify-content-between align-items-center w-100 w-lg-auto gap-2">
                    <div class="d-flex align-items-center justify-content-start gap-1">
                        <button class="navbar-toggler btn-sm border-0 outline-0 shadow-none" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbar"
                                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand " href="{% url "main:home" %}">
                            <img src="{{ page_setting.dashboard_logo.url }}" alt="logo" class="w-75 h-auto"/>
                        </a>
                    </div>
                    <div class="dropdown d-inline d-lg-none">
                        <button class="btn btn-primary rounded-circle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <i class="bi bi-person-fill"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end border-0 shadow">
                            <li>
                                <a class="dropdown-item d-flex justify-content-start align-items-center gap-3"
                                   href="{% url "account:profile" %}">
                                    <i class="bi bi-person"></i>
                                    <strong>Profile</strong>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex justify-content-start align-items-center gap-3"
                                   href="{% url "account:logout" %}">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <strong>Logout</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-2">
                        <li class="nav-item px-3 px-lg-0">
                            <a class="nav-link {% if request.path == dashboard %}active{% endif %}"
                               {% if request.path == dashboard %}aria-current="page"{% endif %} href="{{ dashboard }}">Dashboard</a>
                        </li>
                        {% if request.user|has_group:"admin" %}
                            <li class="nav-item px-3 px-lg-0">
                                <a class="nav-link {% if request.path == adminCampaignList %}active{% endif %}"
                                   {% if request.path == adminCampaignList %}aria-current="page"{% endif %}
                                   href="{{ adminCampaignList }}">Campaigns</a>
                            </li>
                            <li class="nav-item px-3 px-lg-0">
                                <a class="nav-link {% if request.path == adminTicketList %}active{% endif %}"
                                   {% if request.path == adminTicketList %}aria-current="page"{% endif %}
                                   href="{{ adminTicketList }}">Tickets</a>
                            </li>
                            <li class="nav-item px-3 px-lg-0">
                                <a class="nav-link {% if request.path == adminContactsList %}active{% endif %}"
                                   {% if request.path == adminContactsList %}aria-current="page"{% endif %}
                                   href="{{ adminContactsList }}">Contacts</a>
                            </li>
                        {% else %}
                            <li class="nav-item px-3 px-lg-0">
                                <a class="nav-link {% if request.path == campaignList %}active{% endif %}"
                                   {% if request.path == campaignList %}aria-current="page"{% endif %}
                                   href="{{ campaignList }}">Campaigns</a>
                            </li>
                            <li class="nav-item px-3 px-lg-0">
                                <a class="nav-link {% if request.path == ticketList %}active{% endif %}"
                                   {% if request.path == ticketList %}aria-current="page"{% endif %}
                                   href="{{ ticketList }}">Support</a>
                            </li>
                        {% endif %}
                        {% if request.user.show_questions %}
                            <li class="nav-item d-flex align-items-center px-3 px-lg-0">
                                <a class="badge text-primary {% if request.path == businessSetupPage %}active{% endif %}"
                                   {% if request.path == businessSetupPage %}aria-current="page"{% endif %}
                                   href="{{ businessSetupPage }}">tell us about your self</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="d-lg-inline-flex d-none justify-content-between align-items-center gap-2">
                    <div class="dropdown">
                        <button class="btn btn-primary rounded-circle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <i class="bi bi-person-fill"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end border-0 shadow">
                            <li>
                                <a class="dropdown-item d-flex justify-content-start align-items-center gap-3"
                                   href="{% url "account:profile" %}">
                                    <i class="bi bi-person"></i>
                                    <strong>Profile</strong>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex justify-content-start align-items-center gap-3"
                                   href="{% url "account:logout" %}">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <strong>Logout</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

