{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ Title }}</title>
    <link href={% static 'assets/bootstrap/css/bootstrap.min.css' %} rel="stylesheet" type="text/css"/>
    <link href={% static 'assets/bootstrap-icons/bootstrap-icons.css' %} rel="stylesheet" type="text/css"/>
    <link href={% static 'assets/css/dashboard.css' %} rel="stylesheet" type="text/css"/>
</head>
</head>
<body>
{% if messages %}
    <div class="toast-container position-fixed top-0 end-0 p-3">
        {% for message in messages %}
            <div
                    class="toast {% if message.tags == 'error' %} bg-danger {% elif message.tags == 'info' %} bg-primary {% elif message.tags == 'success' %} bg-success {% else %} bg-primary {% endif %}"
                    role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body text-white">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% include "dashboard/header.html" %}
<main class="container py-5">
    {% block content %}

    {% endblock %}
</main>
{% include "dashboard/footer.html" %}
<script src={% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}></script>
<script src={% static 'assets/js/index.js' %}></script>

</body>
</html>