{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ Title }}</title>
    <link href={% static 'assets/bootstrap/css/bootstrap.min.css' %} rel="stylesheet" type="text/css"/>
    <link href={% static 'assets/bootstrap-icons/bootstrap-icons.css' %} rel="stylesheet" type="text/css"/>
    <link href={% static 'assets/css/datatables_bootstrap_min.css' %} rel="stylesheet" type="text/css"/>
    <link href={% static 'assets/css/dashboard.css' %} rel="stylesheet" type="text/css"/>
    <link href={% static 'assets/css/dashboard.scss' %} rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
</head>
</head>
<body>
{% if messages %}
    <div class="toast-container position-fixed top-0 end-0 p-3">
        {% for message in messages %}
            <div
                    class="toast {% if message.tags == 'error' %} bg-danger {% elif message.tags == 'info' %} bg-primary {% elif message.tags == 'success' %} bg-success {% else %} bg-primary {% endif %}"
                    role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body text-white">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% include "dashboard/header.html" %}
<main class="container py-5">
    {% block content %}

    {% endblock %}
</main>
{% include "dashboard/footer.html" %}
<script src={% static 'assets/js/jquery.js' %}></script>
<script src={% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}></script>
<script src={% static 'assets/js/jquery_datatables_min.js' %}></script>
<script src={% static 'assets/js/datatables_bootstrap_min.js' %}></script>
<script src={% static 'assets/js/jquery.js' %}></script>
<script src={% static 'assets/js/index.js' %}></script>
<script src={% static 'assets/js/dashboard.js' %}></script>

{% block script %}

{% endblock %}

</body>
</html>