{% extends "dashboard/index.html" %}
{% load custom_tags %}
{% block content %}
    <section class="d-flex flex-column gap-1 row-gap-3">
        <div class="card border-0">
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
                    <div class="d-flex align-items-center justify-content-start gap-3">
                        <div>
                            <span class="fw-bold">#{{ ticket.id }}</span>
                        </div>
                        <div>
                            <span>{{ ticket.subject }}</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-start gap-3">
                        <div>
                            <span class="">Category:</span>
                            <span class="badge status-neutral">{{ ticket.category }}</span>
                        </div>
                        <div>
                            <span class="">Status:</span>
                            {% if ticket.status == "open" %}
                                <span class="badge status-open">Open</span>
                            {% elif ticket.status == "inProgress" %}
                                <span class="badge status-inProgress">In Progress</span>
                            {% elif ticket.status == "resolved" %}
                                <span class="badge status-resolved">Resolved</span>
                            {% elif ticket.status == "closed" %}
                                <span class="badge status-closed">Closed</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0">
            <div class="card-body">
                <div class="d-flex flex-wrap justify-content-start justify-content-lg-between align-items-center">
                    <div>
                        <span class="fw-bold">Action:</span>
                        <span>change status</span>
                    </div>
                    <div class="d-flex flex-wrap gap-2 align-items-center justify-content-start">
                        <a href="{% url "cms:adminTicketAction" ticket.id 'open' %}"
                           class="btn status-open {% if ticket.status == "open" %}active{% endif %}">
                            Open
                        </a>
                        <a href="{% url "cms:adminTicketAction" ticket.id 'inProgress' %}"
                           class="btn status-inProgress {% if ticket.status == "inProgress" %}active{% endif %}">
                            In Progress
                        </a>
                        <a href="{% url "cms:adminTicketAction" ticket.id 'resolved' %}"
                           class="btn status-resolved {% if ticket.status == "resolved" %}active{% endif %}">
                            Resolved
                        </a>
                        <a href="{% url "cms:adminTicketAction" ticket.id 'closed' %}"
                           class="btn status-closed {% if ticket.status == "closed" %}active{% endif %}">
                            Closed
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% if ticket.status != "closed" %}
            <form enctype="multipart/form-data" action="." method="post">
                {% csrf_token %}
                <div class="card border-0">
                    <div class="card-body">
                        <div class="row row-cols-1 row-gap-2">
                            <div class="col col-12">
                                <label class="form-label" for="{{ form.comment.name }}">
                                    {{ form.comment.label }}
                                </label>
                                {{ form.comment }}
                            </div>
                            <div class="col-12 w-auto">
                                <label for="file"
                                       class="form-label my-2">Attachment:</label><br/>
                                <input type="file" name="file" class="custom-file-input mx-auto"
                                       id="attachment-1" multiple>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-secondary mt-3 w-100" role="button" type="submit">
                                    Post
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="card border-0 ">
                <div class="card-body text-center">
                    <h2 class="fw-bolder text-danger">This ticket is closed</h2>
                </div>
            </div>
        {% endif %}

        <div class="card border-0">
            <div class="card-header border-0 d-flex align-items-center justify-content-start bg-transparent gap-3">
                <i class="bi bi-person-circle display-5 text-secondary"></i>
                <div>
                    <h5 class="card-title fw-bold mb-0">
                        {% if ticket.author|has_group:"admin" %}Support{% else %}{{ ticket.author.username }}{% endif %}
                    </h5>
                    <small class="text-muted">{{ ticket.create_at }}</small>
                </div>
            </div>
            <div class="card-body">
                <p>
                    {{ ticket.description }}
                </p>
            </div>
            <div class="card-footer border-0">
                {% for attachment in ticket.get_attachment %}
                    <a href="{{ attachment.file.url }}" class="btn btn-sm btn-outline-primary border-1 m-1" download>
                        attachment {{ forloop.counter }}
                    </a>
                {% endfor %}
            </div>
        </div>
        {% for comment in ticket.ticket_comment.all %}
            <div class="card border-0">
                <div class="card-header border-0 d-flex align-items-center justify-content-start bg-transparent gap-3">
                    <i class="bi bi-person-circle display-5 text-secondary"></i>
                    <div>
                        <h5 class="card-title fw-bold mb-0">
                            {% if comment.author|has_group:"admin" %}Support{% else %}
                                {{ ticket.author.username }}{% endif %}
                        </h5>
                        <small class="text-muted">{{ comment.create_at }}</small>
                    </div>
                </div>
                <div class="card-body">
                    <p>
                        {{ comment.comment }}
                    </p>
                </div>
                <div class="card-footer border-0">
                    {% for attachment in comment.get_attachment %}
                        <a href="{{ attachment.file.url }}" class="btn btn-sm btn-outline-primary border-1 m-1"
                           download>
                            attachment {{ forloop.counter }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}