/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 12 version
*/



:root {
    --primary-light: #eff0fe;
    --primary-color: #6366f1;
    --bs-primary-hover: #595cd9;
    --bs-primary-active: #4f52c1;
    --warning-color: #F97316;
    --primary-color-text: #fff;
    --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --bs-primary: var(--primary-color) !important;
    --bs-primary-rgb: 99, 102, 241 !important;
    --bs-warning: var(--warning-color) !important;
    --second-font-family: 'Poppins', sans-serif;
    --gradient-1: linear-gradient(45deg, #FF6B6B, #FFC371);
    --gradient-2: linear-gradient(45deg, #FF71A6, #FFAFD8);
    --gradient-3: linear-gradient(45deg, #6ACDDB, #6A4DDB);
    --gradient-4: linear-gradient(45deg, #A6C0FE, #F68084);
}


body {
    margin: 0;
    font-family: var(--second-font-family) !important;
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    background-color: whitesmoke;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100vw;
    overflow-x: hidden;
}


html::-webkit-scrollbar {
    width: 0.575rem;
    background-color: var(--bs-body-bg);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--bs-primary);
    /*border-radius: 20px;*/
}


main {
    min-height: 88vh;
}

.navbar-brand {
    font-weight: 900;
    color: var(--bs-primary);
}

.navbar .nav-link {
    position: relative;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
}

.navbar .nav-link::after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: var(--bs-primary);
    height: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.navbar .nav-link:hover::after, .navbar .nav-link:active::after, .navbar .nav-link:focus::after {
    width: 100%;
}

.nav-link.active::after {
    width: 100% !important;
}

.footer {
    position: relative;
    display: block;
    background-color: #374151;
    color: white;
}

.footer .nav-link {

}

.footer .nav-link:hover, .footer .nav-link:active, .footer .nav-link:focus {
    color: var(--primary-color);
}


.steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem;
    position: relative;
}

.step-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    border: none;
}

/*.step-button[aria-expanded="true"] {*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    background-color: var(--bs-primary-bg-subtle);*/
/*    color: var(--bs-body-color);*/
/*}*/

.done {
    background-color: var(--bs-primary);
    color: #fff;
}

.step-item {
    z-index: 10;
    text-align: center;
}

#progress {
    -webkit-appearance: none;
    position: absolute;
    width: 95%;
    z-index: 5;
    height: 2px;
    margin-left: 18px;
    margin-bottom: 18px;
}

#progress::-webkit-progress-value {
    background-color: var(--bs-primary);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

#progress::-webkit-progress-bar {
    background-color: lightgrey;

}

.custom-file-input {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 35%;
}

.custom-file-input::-webkit-file-upload-button {
    display: none;
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Choose';
    display: inline-block;
    background: var(--bs-primary);
    color: white;
    border: none;
    margin: auto;
    left: 0;
    right: 0;
    -ms-grid-column-align: center;
        justify-self: center;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.custom-file-input::after {
    content: '';
    display: none !important;
}

.custom-file-input:hover::before {
    background: var(--bs-primary-hover);
}


.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: 'Choose audio file';
}

.django-ckeditor-widget {
    display: block !important;
}

.table tbody td, .table tbody th {
    border: none;
}

.table tbody tr:nth-child(even) td, .table tbody tr:nth-child(even) th {
    background-color: var(--bs-tertiary-bg);
}

.table tbody tr td:first-child,
.table tbody tr th:first-child {
    border-radius: 10px 0 0 10px
}

.table tbody tr td:last-child,
.table tbody tr th:last-child {
    border-radius: 0 10px 10px 0
}

.table tr {
    vertical-align: middle;
}


.table {
    border-spacing: 0 10px !important;
    border-collapse: separate !important;
}

.email-template {
    border-color: lightgrey;
    cursor: pointer;
}

.email-template.active {
    border-color: var(--bs-primary);
}

.custom-nav-tabs {
    border-bottom: none !important;
    gap: 15px;
}

.custom-nav-tabs .nav-link {
    border: none !important;
    margin-bottom: unset !important;
    width: 50%;
}

.custom-nav-tabs .nav-link.active {
    border: none !important;
    border-radius: var(--bs-nav-tabs-border-radius);
}

.dropdown-menu {
    --bs-dropdown-bg: white !important;
}

.stats-card {
    height: 150px;
    border-width: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.stats-card i {
    color: white;
}

.gradient-card-1 {
    background: var(--gradient-1);
    color: var(--bs-secondary-text-emphasis);
}

.gradient-card-2 {
    background: var(--gradient-2);
    color: var(--bs-secondary-text-emphasis);
}

.gradient-card-3 {
    background: var(--gradient-3);
    color: var(--bs-secondary-text-emphasis);
}

.gradient-card-4 {
    background: var(--gradient-4);
    color: var(--bs-secondary-text-emphasis);
}


.status-open {
    background-color: #dae4f6; /* Soft blue */
    color: #3b5998; /* Stronger blue text */
}

/* Styles for "In Progress" status badge */
.status-inProgress {
    background-color: #efdae4; /* Soft pink */
    color: #a629aa; /* Stronger pink text */
}

/* Styles for "Resolved" status badge */
.status-resolved {
    background-color: #d6f2f5; /* Soft aqua blue */
    color: #007f7c; /* Stronger teal text */
}

/* Styles for "Closed" status badge */
.status-closed {
    background-color: #e7fadd; /* Soft lime green */
    color: #4a8c4f; /* Stronger green text */
}

.status-neutral {
    background-color: #f0f0f0; /* Light gray */
    color: #000; /* Black text for a neutral category */
}

@media screen and (min-width: 0) {

}

@media screen and (min-width: 576px) {


}

@media screen and (min-width: 768px) {


}

@media screen and (max-width: 768px) {


}

@media screen and (min-width: 992px) {


    .w-lg-auto {
        width: auto !important;
    }


}

@media screen and (min-width: 1200px) {


}
