{% load static %}
{% url "main:home" as home %}
{% url "main:about" as about %}
{% url "main:contact" as contact %}
<header class="bg-light-subtle sticky-top pb-1">
    <div class="position-relative ">
        <nav class="position-relative navbar navbar-expand-lg bg-transparent w-100 z-1">
            <div class="container-fluid mx-0 mx-md-5 px-1 px-md-0 px-lg-1 rounded-2 ">
                <div class="d-flex justify-content-between align-items-center w-100 w-lg-auto gap-2">
                    <div class="d-flex align-items-center justify-content-start gap-1">
                        <button class="navbar-toggler btn-sm border-0 outline-0 shadow-none" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#navbar"
                                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand " href="{{ home }}">
                            <img src="{{ page_setting.dashboard_logo.url }}" alt="logo" class="w-75 h-auto"/>
                        </a>
                    </div>
                    <a class="d-inline d-lg-none btn btn-sm btn-primary rounded-2 fw-bolder text-nowrap text-uppercase"
                       href="{% url "campaign:dashboard" %}">Start
                        Campaign</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-2">
                        <li class="nav-item px-3 px-lg-0">
                            <a class="nav-link {% if request.path == home %}active{% endif %}"
                               {% if request.path == home %}aria-current="page"{% endif %} href="{{ home }}">Home</a>
                        </li>
                        <li class="nav-item px-3 px-lg-0">
                            <button class="nav-link" id="mega-menu-toggle">Categories</button>
                        </li>
                        <li class="nav-item px-3 px-lg-0">
                            <a class="nav-link {% if request.path == about %}active{% endif %}"
                               {% if request.path == about %}aria-current="page"{% endif %}
                               href="{{ about }}">
                                About US
                            </a>
                        </li>
                        <li class="nav-item px-3 px-lg-0">
                            <a class="nav-link {% if request.path == contact %}active{% endif %}"
                               {% if request.path == contact %}aria-current="page"{% endif %}
                               href="{{ contact }}">
                                contact us
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-lg-inline-flex d-none justify-content-between align-items-center gap-2">
                    <a class="btn btn-sm btn-primary rounded-2 fw-bolder text-nowrap text-uppercase"
                       href="{% url "campaign:dashboard" %}">Start
                        Campaign</a>
                </div>
            </div>
        </nav>
        <div class="mega-menu border-top">
            <ul class="list-unstyled row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-gap-2 px-1 px-sm-1 px-md-2 px-lg-4 px-xl-5 py-4">
                {% for category in categories %}
                    <li>
                        <a href="{% url 'main:category' category.slug %}"
                           class="fs-5 fw-bold text-primary-emphasis text-decoration-none text-capitalize">{{ category.name }}</a>
                        {% if category.get_children %}
                            <ul class="list-unstyled">
                                {% for subCategory in category.get_children %}
                                    <li>
                                        <a href="{% url 'main:category' subCategory.slug %}"
                                           class="fs-6 fw-medium text-secondary-emphasis text-decoration-none text-capitalize">{{ subCategory.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>