{% load static %}
<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% with seo=page.page_seo %}
        {% if seo %}
            <!-- SEO Title -->
            <title>{{ seo.seo_title }}</title>

            <!-- SEO Description -->
            <meta name="description" content="{{ seo.seo_description }}">

            <!-- Canonical URL -->
            <link rel="canonical" href="{{ seo.seo_canonical }}">

            <!-- Keywords Meta Tag (if needed) -->
            <meta name="keywords" content="{{ seo.seo_keywords }}">

            <!-- Open Graph (OG) Tags for Social Media Sharing -->
            <meta property="og:title" content="{{ seo.seo_title }}">
            <meta property="og:description" content="{{ seo.seo_description }}">
            <meta property="og:url" content="{{ seo.seo_canonical }}">
            {#            <meta property="og:image" content="{% static 'your-og-image.jpg' %}">#}

            <!-- Twitter Card Tags for Twitter Sharing (if needed) -->
            <meta name="twitter:card" content="summary">
            <meta name="twitter:title" content="{{ seo.seo_title }}">
            <meta name="twitter:description" content="{{ seo.seo_description }}">
            {#            <meta name="twitter:image" content="{% static 'your-twitter-image.jpg' %}">#}
            <script type="application/ld+json">
                {{ seo.json_ld_data|safe }}
            </script>
        {% else %}
            <title>{{ Title }}</title>
        {% endif %}

    {% endwith %}

    <link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}?v={{ asset_version }}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/bootstrap-icons/bootstrap-icons.css' %}?v={{ asset_version }}" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" async="true" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>

    <link href="{% static 'assets/css/index.css' %}?v={{ asset_version }}" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
</head>
<body>
{% if messages %}
    <div class="toast-container position-fixed top-0 end-0 p-3">
        {% for message in messages %}
            <div
                    class="toast {% if message.tags == 'error' %} bg-danger {% elif message.tags == 'info' %} bg-primary {% elif message.tags == 'success' %} bg-success {% else %} bg-primary {% endif %}"
                    role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body text-white">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% block content %}

{% endblock %}
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}?v={{ asset_version }}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="{% static 'assets/js/counter.min.js' %}?v={{ asset_version }}"></script>
<script src="{% static 'assets/js/index.js' %}?v={{ asset_version }}"></script>
</body>
</html>