{% extends 'index.html' %}
{% load static %}
{% block content %}
    <main class="d-flex justify-content-between align-items-center gap-0 vh-100 ">
        <div class="d-sm-none d-none d-md-none d-lg-flex content-part flex-1 h-100 hidden justify-content-end align-items-center w-50">
            <p class="w-50 text-body-tertiary text-center px-4 p-title">
                Start your digital marketing with us. We are here to
                help you...
            </p>
        </div>
        <div class="d-flex flex-1 h-100 justify-content-center align-items-center w-50">
            <div class="rounded w-75 p-5 all-center">
                <div class="w-50 mb-5 mb-auto d-flex justify-content-center align-items-center">
                                         <a href="{% url "main:home" %}">
                        <img src="{{ page_setting.logo.url }}" alt="logo" class="w-100 h-auto"/>
                    </a>
                </div>
                <div class="position-relative w-100 my-2">
                    <h1>Email sent</h1>
                </div>
                <div class="position-relative w-100 my-3">
                    <p>
                        an email containing instruction for resetting your account password have been sent, if you don't
                        receiving an email, please make sure you've entered the address you registered with and check
                        your
                        spam
                        folder
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center gap-2 w-100">
                    <a class="btn btn-primary border-2 w-100 fw-bold"
                       href="{% url "account:login" %}">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}